.input h3{
    text-align: left;
}
.playground{
    height: 90vh;
}
.playground-btn{
    background-color: grey;
}

.playground-title{
    text-align: center;
}
.show-output{
    overflow-y: scroll;
    overflow-x: scroll;
    overflow:scroll;
}